html {
    box-sizing:border-box;
}
body {
    background: burlywood;
    margin: 0;
    padding: 0;
}

.container {
 display: grid;
 grid-template-rows: repeat (8, 1fr);
 grid-template-columns: repeat (11, 1fr);
 width: 100vh;
 height: 100vh;
 background: white;
 margin: auto;
 border: 6px solid black;
}

div[class^="shape"] {
border: 6px solid black;
}

.shape-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: white; 
}
.shape-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background: red; 

}
.shape-3{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    background: yellow;
}

.shape-4{
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 3;
        background: white;
}
.shape-5{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
    background:grey; 
}
.shape-6{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background: blue; 
}
 .shape-7{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 7;
        background: red; 
    }
.shape-8{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 5;
        background: white; 
    }
    .shape-9{
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 4;
        background: red; 
    }
    .shape-10{
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 5;
        background: yellow; 
    }
    .shape-11{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        background: gray; 
    }
    .shape-12{
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 5;
        background:blue; 
    }
    .shape-13{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 7;
        background:yellow; 
    }
    .shape-14{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 7;
        background:blue; 
    }
    .shape-15{
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 6;
        background: red; 
    }
    .shape-16{
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
        background: grey; 
    }
    .shape-17{
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 8;
        background:blue; 
    }
    .shape-18{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 8;
        background: white; 
    }
    .shape-19{
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 6;
        grid-row-end: 8;
        background: yellow; 
    }
        .shape-20{
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 7;
            grid-row-end: 8;
            background:grey; 
        }
        .shape-21{
            grid-column-start: 6;
            grid-column-end: 9;
            grid-row-start: 6;
            grid-row-end: 8;
            background:yellow; 
        }